    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: #c28910;
        background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
        justify-content: space-around;
    }
    
    @media (min-width: 600px) {
        header {
            width: 35%;
            height: 20em
        }
    }
    
    @media (min-width: 1000px) {
        header {
            flex-direction: column;
            margin-top: 0em;
            width: 25%;
            align-items: center;
        }
        .user-name {
            margin-top: -1em;
        }
    }