  nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 150%;
      color: rgb(153, 10, 10);
      width: 100%;
      /* position: fixed; */
      top: 0;
      background-color: #c28910;
      background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
  }
  
  em {
      padding-right: 1.5em;
      padding-bottom: 1.5em;
      padding-top: 1.5em;
      font-size: 3vh;
      font-weight: 600;
  }
  
  span {
      padding-left: 1.5em;
      padding-bottom: 1.5em;
      padding-top: 1.5em;
      font-family: "Bungee";
  }
  
  @media (min-width: 600px) {
      nav {
          background-color: rgb(153, 10, 10);
          color: rgb(238, 167, 15);
          background-image: none;
      }
  }