.new-tweet {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1em;
}

.gossip {
    background-color: rgb(199, 6, 6);
    font-family: 'Bungee';
}

.button-text {
    font-size: smaller;
}

.button-area {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
    border-style: line;
    border-bottom: solid;
    padding-bottom: 100em;
}

.counter {
    font-family: 'Bungee';
}

.counter.positive {
    color: green;
}

.counter.negative {
    color: red;
}

.error {
    display: none;
    border: .1 solid;
    background-repeat: no-repeat;
    background-position: 10em center;
    color: #D8000C;
    background-color: #FFBABA;
    font-weight: 600;
    max-height: 6em;
    max-width: 100%;
}