#tweet-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 0.05em;
    padding-left: 0.5em;
    padding-right: 0.3em;
    max-height: 5em;
    border-width: 3em;
    /* flex-grow: larger; */
}

.avatar-name {
    display: flex;
    /* margin-top: 1em; */
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.tweet {
    width: 90%;
    border-style: dashed;
    border-width: .01em;
    border-style: dashed;
    margin-bottom: .5em;
}

.tweet:hover {
    box-shadow: 5px 5px rgba(114, 18, 18, 0.623);
}

.tweet:hover .id {
    opacity: 1;
    font-weight: 0.15em;
}

.id {
    opacity: .3;
    display: flex;
    align-items: center;
}

#tweet-text {
    border: 0;
    background-color: #f4f1ec;
    height: 2em;
    width: 100%;
}

.gossipText {
    display: flex;
    overflow-wrap: anywhere;
    border-bottom-style: double;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 300;
}

.tweet:hover .gossipText {
    font-weight: 700;
}

.footer {
    font-size: x-small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.button-area {
    border-top: 5px solid rgb(66, 39, 4);
    padding-top: 1em;
    margin-bottom: .5em;
}

.icons {
    opacity: .3;
}

.tweet:hover .icons {
    opacity: 1;
    font-weight: 0.15em;
}